{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}
{%- unless product.has_only_default_variant -%}
  <variant-selects
    id="variant-selects-{{ section.id }}"
    data-section="{{ section.id }}"
    {{ block.shopify_attributes }}
    style="margin-top: 2rem; display: block;"
  >
    {%- for option in product.options_with_values -%}
      {%- liquid
        assign swatch_count = option.values | map: 'swatch' | compact | size
        assign picker_type = block.settings.picker_type

        if swatch_count > 0 and block.settings.swatch_shape != 'none'
          if block.settings.picker_type == 'dropdown'
            assign picker_type = 'swatch_dropdown'
          else
            assign picker_type = 'swatch'
          endif
        endif
      -%}
      {%- liquid
        assign hide_option = false
        if option.name == 'Flag' and product.tags contains 'custom-flags'
          assign hide_option = true
        elsif option.name == 'Personalization'
          if product.tags contains 'custom-inputs'
            assign hide_option = true
          endif
        endif
      -%}
      {%- if picker_type == 'swatch' -%}
        <fieldset class="js product-form__input product-form__input--swatch" {% if hide_option %}style="display: none;"{% endif %}>
          <legend class="form__label" style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
            <span>
              {{ option.name }}:
              <span data-selected-value>
                {{- option.selected_value -}}
              </span>
            </span>
            {%- assign opt_name_lower = option.name | downcase -%}
            {%- if opt_name_lower == 'size' and product.metafields.custom.size_chart != blank -%}
              <button type="button" class="size-chart-trigger" data-modal-trigger="SizeChartModal-{{ section.id }}">
                Show Size Chart
              </button>
            {%- endif -%}
          </legend>
          {% render 'product-variant-options',
            product: product,
            option: option,
            block: block,
            picker_type: picker_type
          %}
        </fieldset>
      {%- elsif picker_type == 'button' -%}
        <fieldset class="js product-form__input product-form__input--pill" {% if hide_option %}style="display: none;"{% endif %}>
          <legend class="form__label">{{ option.name }}</legend>
          {% render 'product-variant-options',
            product: product,
            option: option,
            block: block,
            picker_type: picker_type
          %}
        </fieldset>
      {%- else -%}
        <div class="product-form__input product-form__input--dropdown" {% if hide_option %}style="display: none;"{% endif %}>
          <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}" style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
            <span>{{ option.name }}</span>
            {%- assign opt_name_lower = option.name | downcase -%}
            {%- if opt_name_lower == 'size' and product.metafields.custom.size_chart != blank -%}
              <button type="button" class="size-chart-trigger" data-modal-trigger="SizeChartModal-{{ section.id }}">
                Show Size Chart
              </button>
            {%- endif -%}
          </label>
          <div class="select">
            {%- if picker_type == 'swatch_dropdown' -%}
              <span
                data-selected-value
                class="dropdown-swatch"
              >
                {% render 'swatch', swatch: option.selected_value.swatch, shape: block.settings.swatch_shape %}
              </span>
            {%- endif -%}
            <select
              id="Option-{{ section.id }}-{{ forloop.index0 }}"
              class="select__select"
              name="options[{{ option.name | escape }}]"
              form="{{ product_form_id }}"
            >
              {% render 'product-variant-options',
                product: product,
                option: option,
                block: block,
                picker_type: picker_type
              %}
            </select>
            {% render 'icon-caret' %}
          </div>
        </div>
      {%- endif -%}
    {%- endfor -%}

    <script type="application/json" data-selected-variant>{{ product.selected_or_first_available_variant | json }}</script>
  </variant-selects>

  {%- if product.metafields.custom.size_chart != blank -%}
    <div id="SizeChartModal-{{ section.id }}" class="custom-modal" style="display: none;">
      <div class="custom-modal__content">
        <button type="button" class="custom-modal__close" data-modal-close>&times;</button>
        <div class="custom-modal__body">
          {%- liquid
            assign chart_image = product.metafields.custom.size_chart.value
          -%}
          {%- if chart_image != blank -%}
            <img src="{{ chart_image }}" 
                 alt="Size Chart" 
                 loading="lazy" 
                 width="1200" 
                 height="auto">
          {%- else -%}
             <img src="{{ product.metafields.custom.size_chart }}" 
                 alt="Size Chart" 
                 loading="lazy" 
                 width="1200" 
                 height="auto">
          {%- endif -%}
        </div>
      </div>
      <div class="custom-modal__overlay" data-modal-close></div>
    </div>
  {%- endif -%}
{%- endunless -%}
